.navBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoMR {
  height: 30px;
  width: 40px;
  margin-left: 30px;
  margin-top: 8px;
}

.sidebar {
  //background-color: #3b5065;
  background-color: #c1a87a;
  height: 55px;
  width: 600px;
  top: calc(100vh - 70px);
  border-radius: 21px 21px 21px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.sidebar ul {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-right: 110px;
}

.sidebar ul li {
  list-style: none;
  position: relative;
  width: 110px;
  height: 31px;
  z-index: 2;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

.sidebar ul li a .icon {
  position: relative;
  display: block;
  // line-height: 45px;
  transition: 0.5s;
  color: whitesmoke;
}

.sidebar ul li a .icon :hover {
  //color: #e8d4af;
  color: #3b5065;
}

// .sidebar ul li.active a .icon {
//   transform: translateY(-15px);
//   color: #e8d4af;
// }

// .indicator {
//   position: absolute;
//   top: -50%;
//   width: 40px;
//   height: 40px;
//   background :white;
//   border-radius: 50%;
//   transition: 0.5s;
// }
