@import "../../global.scss";

.navBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoMR {
  height: 30px;
  width: 40px;
  margin-left: 30px;
  margin-top: 8px;
}

.sidebar {
  //background-color: #3b5065;
  background-color: #c1a87a;
  height: 55px;
  width: 600px;
  top: calc(100vh - 70px);
  border-radius: 21px 21px 21px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  margin-right: 2rem;
  font-size: 1.5rem;

  .logoIntro {
    @media (max-width: 674px) {
      display: none;
    }
  }
  @media (max-width: 674px) {
    width: 100%;
    margin: 0px;
    border-radius: 0;
    align-items: center;
  }
}

.sidebar ul {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-right: 110px;

  @media (max-width: 674px) {
    margin-right: 23px;
  }
}

.sidebar ul li {
  list-style: none;
  position: relative;
  width: 110px;
  height: 31px;
  z-index: 2;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

.sidebar ul li a .icon {
  position: relative;
  display: block;
  transition: 0.5s;
  color: whitesmoke;
}

.sidebar ul li a .icon :hover {
  color: #3b5065;
}
