@import "../../global.scss";

.portfoliolist {
  font-size: 30px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: 600;

  @include mobile {
    font-size: 17px;
    margin-right: 5px;
  }
  &.active {
    background-color: whitesmoke;
    color: #3b5065;
  }
}
